body {
    font-family: sans-serif;
    background: white;
    color: black;
}

fieldset {
    border: none;
}
button, input {
    border: 1px solid black;
    background: #eee;
    color: black;
    font-size: 1.5rem;
}
button {
    height: 2.5rem;
}
input {
    padding: 0.3rem;
}

#tasks ul {
    display: table-row;
    list-style: none;
    font-size: 1.5rem;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    button, input {
        border: 1px solid white;
        background: #222;
        color: white;
    }
}
