body {
    font-family: sans-serif;
    background: white;
    color: black;
}

fieldset {
    border: none;
}
button, input {
    border: 1px solid black;
    background: #eee;
    color: black;
    font-size: 1.5rem;
    padding: 0.3rem;
}

button#add-task {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 0;
}

#tasks ul {
    display: table-row;
    font-size: 1.5rem;
}
#tasks button {
    height: 2.5rem;
    width: 2.5rem;
}
#tasks input {
    max-width: 50rem;
    width: calc(100vw - 6rem);
}
#tasks li {
    display: flex;
    flex-wrap: nowrap;
}
#tasks li:hover {
    outline: 5px outset black;
}

@media print {
    h1,
    button,
    #tasks li:first-child {
        display: none;
    }
    input {
        background: white;
        color: black;
        border: none;
    }
    #tasks ul {
        display: block;
        list-style-type: "☐";
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
    button, input {
        border-color: white;
        background: #222;
        color: white;
    }
    #tasks li:hover {
        outline-color: white;
    }
}
