body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

fieldset {
  border: none;
}

button, input {
  border: 1px solid black;
  background: #eee;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

ul#tasks {
  display: table-row;
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  button, input {
    border: 1px solid white;
    background: #222;
    color: white;
  }
}
